<div class="todo-form-container">
    <i (click)="onCloseNewTodo()" class="fa-regular fa-circle-xmark"></i>
    <h2 class="todo-form-title">Create a new Todo</h2>
    <form [formGroup]="todoForm" class="todo-form">
    
        <label for="title">Title</label>
        <input type="text" id="title" name="title" formControlName="title"/>
    
        <label for="type">Type</label>
        <select id="type" name="type" formControlName="type">
            <option [defaultSelected]="true" id="work">Work</option>
            <option id="study">Study</option>
            <option id="other">Other</option>
        </select>
    
        <label for="description">I have to :</label>
        <textarea placeholder="Learn a new langage..." id="description" name="description" formControlName="description"></textarea>
    
        <button type="submit" (click)="onSubmitTodo($event)">Add</button>
    
    </form>
    
    <div 
        *ngIf="todoPreview$ | async as todo"
        [id]="todo.id" 
        class="todo-preview" 
        [ngStyle]=" { backgroundColor: todo.type === 'Work' ? '#FE8B8B' : todo.type === 'Study' ? '#76C7EA' : '#67F4B7' } "
    >
        <h2 class="todo-title">{{ todo.title }}</h2>
        <span class="todo-date">
            <i class="fa-regular fa-calendar-check"></i>
            {{ todo.createdDate | date:'mediumDate' }}
        </span>
        <p class="todo-desc"> {{ todo.description }}</p>
    </div>
</div>