.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5em 1em 1em 1em;
    height: 100%;
    background-size: cover;
    transition: 1s;
    color: #fff;
}

.bottom,
.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.time {
    position: fixed;
    top: 40%;
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: 2px 1px 4px #111111c4;
}

.author {
    margin-right: auto;
    font-size: 0.89rem;
    align-self: flex-end;
}

.pinned-todo {
    max-width: 250px;
    box-shadow: 1px 1px 5px #111;
    scale: 0.8;
}

// LOADER DISPLAY AND ANIMATION

svg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 7.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   