<div [ngStyle]="{ 'background-image': customedBgLoaded ? 'url(' + imageUrlObj.urls.raw + ')' :  ''  }" class="dashboard">

    <button (click)="Debugging()">Debug</button>
    <svg id='loader' [ngStyle]="{ 'display' : customedBgLoaded ? 'none' : 'block'  }" viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
    </svg>

    <div class="top">
        <app-token-info *ngIf="tokenInfo" [tokenInfo]="tokenInfo"></app-token-info>
        <div class="weather">WEATHER</div>
    </div>
    
    <span class="time">{{ currentTime$ | async }}</span>

    <div class="bottom">

        <p class="author">Michel Fguain</p>

        <!-- <div class="pinned-todo">
            <i (click)="addToPinnedTodos()" class="fa-solid fa-thumbtack"></i>
            <div class="todo-icons">
                <i (click)="toggleIconDisplay()" class="fa-regular fa-calendar-xmark"></i>
                <i [ngClass]="{ 'iconActive' : areIconDisplayed }" (click)="deleteTodo()" class="fa-solid fa-check"></i>  
                <i (click)="toggleIconDisplay()" [ngClass]="{ 'iconActive' : areIconDisplayed }" class="fa-solid fa-xmark"></i>
            </div>

            <h2 class="todo-title">{{ pinnedTodo.title }}</h2>
            <span class="todo-date">
                <i class="fa-regular fa-calendar-check"></i>
                {{ pinnedTodo.createdDate | date:'mediumDate' }}
            </span>
            <p class="todo-desc"> {{ pinnedTodo.description }}</p>
        </div> -->

    </div>

</div>
