body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

input,
select,
textarea.todo-create {
  border-radius: 5px;
  border: transparent;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.63);
}

textarea {
  resize: none;
}

.btn {
  border: transparent;
  font-weight: 700;
  color: #fff;
  background-color: rgb(158, 128, 226);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(56, 56, 56);
  cursor: pointer;

  &:hover,
  &:focus {
      box-shadow: 2px 2px 2px rgb(56, 56, 56);
  }

  &:active {
      box-shadow: inset 2px 2px 2px rgb(56, 56, 56);
  }
}

// Todo display

.todo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.8em 1.5em;
  box-shadow: 2px 2px 8px rgb(150, 150, 150);
  border-radius: 5px;
  margin: 1em;
  flex: 200px 1;
  width: 250px;
  min-height: 200px;
  transition: 0.3s;
  animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) none;



  &:hover {
      box-shadow: 2px 2px 8px rgb(107, 107, 107);
  }

  .todo-icons-delete {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 8px;
      top: 15px;
      right: 15px;
  }

  .todo-icons-edit-pin {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 6px;
    top: 15px;
    right: 40px;
  }

  .fa-pen-to-square,
  .fa-thumbtack,
  .fa-check,
  .fa-xmark,
  .fa-calendar-xmark {
      cursor: pointer;
      color: #fff;
      font-size: 1.1rem;
  }
  
  .fa-check,
  .fa-xmark {
      display: none;
  }

  .fa-thumbtack {
    transform: translateY(8%);
  }

  .iconActive {
      display: block;
      animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .fa-calendar-xmark {
      top: 15px;
      &:hover {
          color: red;
      }
  }

  .fa-check:hover,
  .fa-check:focus {
      color: green;
  }

  .fa-xmark:hover,
  .fa-xmark:focus {
      color: red;
  }

  .todo-title {
    width: 75%;
    font-size: 1.3rem;
  }

  .fa-thumbtack,
  .todo-desc,
  .todo-title,
  .todo-date,
  .todo-edit  {
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 3px #464545ce;
  }

  .todo-date {
      font-size: 0.875rem;
      margin-bottom: 2em;
      font-weight: 600;

      .fa-calendar-check {
          margin-right: 0.2em ;
      }
  }

  .todo-desc,
  .todo-edit {

      font-weight: 600;
      font-family: 'Karla', sans-serif;
      font-size: 1.3rem;
  }

  .todo-desc,
  .todo-title {
       white-space: initial;
       overflow-wrap: break-word;
    }

  .todo-edit {
    background-color: transparent;
    border: 1px white solid;
    border-radius: 5px;
    padding: 7px;
  }

}


// KEYFRAMES & ANIMATIONS

@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
    
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
