<div  
    class="todo" 
    [ngStyle]=" { 
        backgroundColor: todo.type === 'Work' ?
        '#BF211E' : todo.type === 'Study' ? 
        '#2EBFA5' : '#FED766', 
        display : todo.isDeleted ? 'none' : 'flex' } "
>   
    <div class="todo-icons-edit-pin">
        <i class="fa-solid fa-pen-to-square"></i>
        <i 
            [ngStyle]="{ color : todo.isPinned ? 'gold' : '#fff' }"
            (click)="handlePinnedTodo()" 
            class="fa-solid fa-thumbtack"
        ></i>
    </div>

    <div class="todo-icons-delete">
        <i 
            (click)="todo.toggleIconDisplay()" 
            class="fa-regular fa-calendar-xmark"
        ></i>
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="deleteTodo()" 
            class="fa-solid fa-check"
        ></i>  
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="todo.toggleIconDisplay()" 
            class="fa-solid fa-xmark"
        ></i>
    </div>

    <h2 class="todo-title">{{ todo.title }}</h2>
    <span class="todo-date">
        <i class="fa-regular fa-calendar-check"></i>
        {{ todo.createdDate | date:'mediumDate' }}
    </span>
    <p class="todo-desc"> {{ todo.description }}</p>
</div>