<div  
    class="todo" 
    [ngStyle]=" { 
        backgroundColor: todo.type === 'Work' ?
        '#1E88E5' : todo.type === 'Study' ? 
        '#43A047' : '#FF9800', 
        display : todo.isDeleted ? 'none' : 'flex' } "
>   
    <div *ngIf="!todo.isArchived" class="todo-icons-edit-pin">
        <i  
            [ngStyle]="{ color : isEdited ? 'red' : '' }"
            (click)="toggleEditing()"
            class="fa-solid fa-pen-to-square"
        ></i>
        <i 
            [ngStyle]="{ color : todo.isPinned ? 'gold' : '#fff' }"
            (click)="handlePinnedTodo()" 
            class="fa-solid fa-thumbtack"
        ></i>
    </div>

    <div *ngIf="!todo.isArchived" class="todo-icons-delete">
        <i 
            (click)="todo.toggleIconDisplay()" 
            class="fa-regular fa-calendar-xmark"
        ></i>
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="deleteTodo()" 
            class="fa-solid fa-check"
        ></i>  
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="todo.toggleIconDisplay()" 
            class="fa-solid fa-xmark"
        ></i>
    </div>

    <h2 class="todo-title">{{ todo.title }}</h2>

    <span class="todo-date">
        <i class="fa-regular fa-calendar-check"></i>
        {{ todo.createdDate | date:'mediumDate' }}
    </span>

    <p *ngIf="!isEdited" class="todo-desc"> {{ todo.description }}</p>

    <textarea 
        *ngIf="isEdited" 
        [value]="todo.description" 
        class="todo-edit"
        rows="5"
        [(ngModel)]="editTextAreaValue"
    ></textarea>

</div>