<div  
    class="todo" 
    [ngStyle]=" { backgroundColor: todo.type === 'Work' ? '#FE8B8B' : todo.type === 'Study' ? '#76C7EA' : '#67F4B7', display : todo.isDeleted ? 'none' : 'flex' } "
>   
    <i 
        [ngStyle]="{ color : todo.isPinned ? 'gold' : '#fff' }"
        (click)="handlePinnedTodo()" 
        class="fa-solid fa-thumbtack"
    ></i>

    <div class="todo-icons">
        <i 
            (click)="todo.toggleIconDisplay()" 
            class="fa-regular fa-calendar-xmark"
        ></i>
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="deleteTodo()" 
            class="fa-solid fa-check"
        ></i>  
        <i 
            [ngClass]="{ 'iconActive' : todo.areIconDisplayed }" 
            (click)="todo.toggleIconDisplay()" 
            class="fa-solid fa-xmark"
        ></i>
    </div>

    <h2 class="todo-title">{{ todo.title }}</h2>
    <span class="todo-date">
        <i class="fa-regular fa-calendar-check"></i>
        {{ todo.createdDate | date:'mediumDate' }}
    </span>
    <p class="todo-desc"> {{ todo.description }}</p>
</div>