.token {
    span,
    p {
        font-weight: 600;
        text-shadow: 0px 0px 4px #111111d7;
    }
}

.token-top {
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateX(-7%);
}

.token-logo {
    width: 30px;
}

.fa-arrows-up-to-line {
    color: green;
}

.fa-arrows-down-to-line {
    color: red;
}