<div *ngIf="tokenInfo$ | async as tokenInfo" class="token">
    <div class="token-top"> 
        <img class="token-logo" [src]="tokenInfo.image.small" [alt]="tokenInfo.name"  />
        <span> {{ tokenInfo.name }} </span>
    </div>
    <p>🎯: {{ tokenInfo.market_data.current_price.usd }} </p>
    <p><i class="fa-solid fa-arrows-up-to-line"></i> : {{ tokenInfo.market_data.high_24h.usd }} </p>
    <p><i class="fa-solid fa-arrows-down-to-line"></i> : {{ tokenInfo.market_data.low_24h.usd }} </p>
</div>


